html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-valid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-valid__cards {
  margin: 20px auto 5px;
}

.section-valid__input-block {
  margin: 0 auto 10px;
}

.cards-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.card {
  margin: 2px;
  width: 40px;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  opacity: 0.3;
}

.mir {
  background-image: url(9f5bb19828aa3bf8f2b5.png);
}

.jsb {
  background-image: url(24e679826b7b2d99e0a7.png);
}

.amex {
  background-image: url(b91d28a5a6d259d7929f.png);
}

.visa {
  background-image: url(53c90c51a80841057ae4.png);
}

.maestro {
  background-image: url(ec19e760d0f7a5a564fd.png);
}

.master {
  background-image: url(85afe836d70ddc1caeac.png);
}

.discover {
  background-image: url(400aff322d5d71c8d3dc.png);
}

.dinersclub {
  background-image: url(9888021b4b38f1551e84.png);
}

.active {
  opacity: 1;
}

.input-valid {
  width: 188px;
  padding: 5px;
  margin-left: 5px;
  border: 1px #000000 solid;
  border-radius: 4px;
}

.valid {
  background-color: #a1e8a1;
}

.invalid {
  background-color: #e8a1a1;
}

.input-valid-button {
  background-color: #659a65;
  padding: 5px;
  margin-left: 2px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

